.admin-matches{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.admin-matches-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.admin-matches-buttons{
    display: flex;
    gap: 16px;
}

.admin-matches-details{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.admin-matches-add-button:hover img {
    content: url("/icons/plus-white.png");
}

.admin-matches-all-add-button:hover img{
    content: url("/icons/check-white.png");
}

.admin-matches-upload-close-button:hover img{
    content: url("/icons/cross-white.png");
}

.admin-matches-upload-button:hover img{
    content: url("/icons/check-white.png");
}

.admin-matches-upload-form{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 16px;
}

.admin-matches-upload-form input[type="file"]{
    cursor: pointer;;
}

.admin-matches-add-form{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 16px;
}

.admin-matches-form-buttons{
    display: flex;
    gap: 16px;
}

.admin-matches-same-buttons{
    display: flex;
    gap: 16px;
}

.admin-matches-form-close-button:hover img {
    content: url("/icons/cross-white.png");
}

@media(max-width: 1080px){
    .admin-matches-add-form, .admin-matches-upload-form{
        width: 40%;
    }
}

@media(max-width: 730px){
    .admin-matches-header{
        flex-direction: column;
        align-items: start;
        gap: 16px;
    }
}

@media(max-width: 720px){
    .admin-matches-add-form, .admin-matches-upload-form{    
        width: 50%;
    }
}

@media(max-width: 564px){
    .admin-matches-add-form, .admin-matches-upload-form{
        width: 100%;
    }
}