.password-container{
    display: flex;
    gap: 16px;
}

.password-container input{
    width: 100%;
}

.password-container button{
    display: flex;
    padding: 15px;
    background-color: var(--bg-color);
    cursor: pointer;
    border: none;
    border: 1px solid var(--text-color);
    outline: none;
}

.icon{
    width: 20px;
    background-color: none;
    border: none;
}

.logo{
    width: 32px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

h1{
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    text-transform: capitalize;
}

h2{
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    text-transform: capitalize;
}

h3{
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    text-transform: capitalize;
}

p{
    color: var(--text-color);
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-container label{
    text-transform: capitalize;
}

.input-container input{
    padding: 16px;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    outline: none;
    font-size: 16px;
}

.input-container input[type="number"]::-webkit-inner-spin-button, 
.input-container input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.black-button, .red-button, .green-button, .blue-button{
    display: flex;
    align-content: center;
    gap: 16px;
    padding: 16px;
    font-size: 16px;
    background-color: var(--bg-color);
    border: 1px solid var(--text-color);
    color: var(--white);
    text-transform: capitalize;
    outline: none;
    cursor: pointer;
    width: fit-content;
    transition: background-color 0.1s ease, color 0.1s ease;
}

.black-button span, .red-button span, .green-button span, .blue-button span{
    display: none;
}

.black-button:hover span, .red-button:hover span, .green-button:hover span, .blue-button:hover span{
    display: flex;
    align-items: center;
}

.black-button{
    color: var(--text-color);
}

.black-button:hover{
    background-color: var(--text-color);
    color: var(--bg-color);
}

.red-button:hover{
    background-color: var(--red);
}

.green-button:hover{
    background-color: var(--green);
}

.blue-button:hover{
    background-color: var(--blue);
}

.input{
    padding: 16px;
    outline: none;
    font-size: 16px;
    border: 1px solid var(--text-color);
}

.input.selection{
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--text-color);
}

.select{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    left: -1px;
    top: calc(100% + 16px);
    z-index: 2;
    max-height: 150px;
    border: 1px solid var(--text-color);
    overflow: scroll;
    background-color: var(--bg-color);
    outline: none;
}

.select .input{
    border: none;
    border-bottom: 1px solid var(--text-color);
    cursor: pointer;
}

.select .input:last-child{
    border-bottom: none;
}

.select .input:hover{
    color: var(--bg-color);
    background-color: var(--text-color);
}

.input.selection button{
    display: flex;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--bg-color);
    border: none;
    cursor: pointer;
}
