.password-container{
    position: relative;
}

.password-container input{
    width: calc(100% - 34px);
}

.password-container button{
    display: flex;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    border: none;
    cursor: pointer;
}

.icon{
    width: 20px;
    background-color: none;
    border: none;
}

.logo{
    width: 32px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

h1{
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    text-transform: capitalize;
}

h2{
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    text-transform: capitalize;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-container label{
    text-transform: capitalize;
}

.input-container input{
    padding: 16px;
    border: 1px solid var(--black);
    outline: none;
    font-size: 16px;
    /* width: calc(100% - 32px); */
}

.black-button, .red-button, .green-button, .blue-button{
    display: flex;
    align-content: center;
    gap: 16px;
    padding: 16px;
    font-size: 16px;
    background-color: var(--white);
    border: 1px solid var(--black);
    color: var(--white);
    text-transform: capitalize;
    outline: none;
    cursor: pointer;
    width: fit-content;
    transition: background-color 0.1s ease, color 0.1s ease;
}

.black-button span, .red-button span, .green-button span, .blue-button span{
    display: none;
}

.black-button:hover span, .red-button:hover span, .green-button:hover span, .blue-button:hover span{
    display: flex;
    align-items: center;
}

.black-button:hover{
    background-color: var(--black);
}

.red-button:hover{
    background-color: var(--red);
}

.green-button:hover{
    background-color: var(--green);
}

.blue-button:hover{
    background-color: var(--blue);
}

.input{
    padding: 16px;
    border: 1px solid var(--black);
    outline: none;
    font-size: 16px;
}

.input.selection{
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.select{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    left: -1px;
    gap: 4px;
    top: calc(100% + 16px);
    z-index: 2;
    max-height: 150px;
    border: 1px solid var(--black);
    overflow: scroll;
    background-color: var(--white);
    outline: none;
}

.select .input{
    border: none;
    border-bottom: 1px solid var(--black);
    cursor: pointer;
}

.select .input:last-child{
    border-bottom: none;
}

.select .input:hover{
    color: var(--white);
    background-color: var(--black);
}

.input.selection button{
    display: flex;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    border: none;
    cursor: pointer;
}
