.admin-match{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.admin-match-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-match-result{
    display: flex;
    flex-direction: column;
}

.admin-match-buttons{
    display: flex;
    gap: 16px;
}

.admin-match-update-result-button:hover img {
    content: url("/icons/update-white.png");
}

.admin-match-edit-button:hover img{
    content: url("/icons/edit-white.png");
}

.admin-match-add-button:hover img{
    content: url("/icons/plus-white.png");
}

.admin-match-delete-button:hover img {
    content: url("/icons/trash-white.png");
}

.admin-match-form{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 16px;
}

.admin-match-form-buttons{
    display: flex;
    gap: 16px;
}

.admin-match-close-button:hover img{
    content: url("/icons/cross-white.png");
}

@media(max-width: 1080px){
    .admin-match-form{
        width: 40%;
    }
}

@media(max-width: 720px){
    .admin-match-form{
        width: 50%;
    }
}

@media(max-width: 564px){
    .admin-match-form{
        width: 100%;
    }

    .admin-match-header{
        flex-direction: column;
        gap: 16px;
        align-items: start;
    }
}