.home{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    background-color: var(--bg-color);
    min-height: calc(100vh - 118px);
}

.home h1{
    display: flex;
    gap: 16px;
}

.home-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.home-header-heading{
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.home-header-slider{
    display: flex;
    flex-direction: column;
}

.home-slider-up, .home-slider-down{
    display: flex;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--bg-color);
}

.home-slider-up:hover, .home-slider-down:hover{
    background-color: var(--text-color);
}

.home-table-switch{
    padding: 16px;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    outline: none;
    cursor: pointer;
    text-transform: capitalize;
}

.home-table-switch:hover{
    background-color: var(--text-color);
    color: var(--bg-color);
}

.home-playoffs{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--text-color);
    position: relative;
    height: 500px;
}

.home-playoff-team{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-color);
    gap: 8px;
    padding: 8px;
    overflow: scroll;
}

.home-q1, .home-el, .home-q2, .home-final{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 20%;
}

.home-q1-details, 
.home-el-details, 
.home-q2-details, 
.home-final-details{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--text-color);
    padding: 8px;
    cursor: pointer;
}

.home-q1-details p, 
.home-el-details p, 
.home-q2-details p, 
.home-final-details p{
    color: inherit;
}

.home-q1-details:hover, 
.home-el-details:hover, 
.home-q2-details:hover, 
.home-final-details:hover{
    background-color: var(--text-color);
    color: var(--bg-color);
}


.home-q1-details p:first-child,
.home-el-details p:first-child, 
.home-q2-details p:first-child, 
.home-final-details p:first-child{
    text-transform: capitalize;
    color: var(--green);
    font-size: larger;
}

.home-final{
    position: absolute;
    right: 0;
}

.home-el{
    position: absolute;
    bottom: 0;
}

.home-q2{
    position: absolute;
    right: 38%;
    top: 38%;
}

.playoff-line{
    position: absolute;
    background-color: var(--text-color);
}

.line-q1-final{
    width: 60%;
    height: 0.5px;
    left: 20%;
    top: 17%;
}

.line1-q1-to-q2{
    width: 11%;
    height: 1px;
    left: 20%;
    top: 24%;
}

.line2-q1-to-q2{
    width: 1px;
    height: 32%;
    left: 31%;
    top: 24%;
}

.line3-q1-to-q2{
    width: 11%;
    height: 1px;
    left: 31%;
    top: 56%;
}

.line1-q2-to-final{
    width: 9%;
    height: 1px;
    left: 62%;
    top: 58%;
}

.line2-q2-to-final{
    width: .5px;
    height: 34.2%;
    left: 71%;
    top: 24%;
}

.line3-q2-to-final{
    width: 9%;
    height: 1px;
    left: 71%;
    top: 24%;
}

.line1-el-to-q2{
    width: 11%;
    height: 1px;
    left: 20%;
    top: 80%;
}

.line2-el-to-q2{
    width: 1px;
    height: 18.1%;
    left: 31%;
    top: 62%;
}

.line3-el-to-q2{
    width: 11%;
    height: 1px;
    left: 31%;
    top: 62%;
}

@media(max-width: 1080px){
    .home-q1-details, 
    .home-el-details, 
    .home-q2-details, 
    .home-final-details{
        align-items: center;
        justify-content: center;
        height: 60px;
    }

    .home-q1-details p:not(:first-child){
        display: none;
    }

    .home-el-details p:not(:first-child){
        display: none;
    }

    .home-q2-details p:not(:first-child){
        display: none;
    }

    .home-final-details p:not(:first-child){
        display: none;
    }
}

@media(max-width: 720px){
    .home-playoff-team{
        padding: 10.5px;
    }

    .home-playoff-team h3{
        display: none;
    }
}

@media(max-width: 549px){
    .home-header{
        flex-direction: column;
        align-items: start;
    }
}