.home h1{
    display: flex;
    gap: 16px;
}

.home-header{
    display: flex;
    align-items: center;
    gap: 8px;
}

.home-header-slider{
    display: flex;
    flex-direction: column;
}

.home-slider-up, .home-slider-down{
    display: flex;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--white);
}

.home-slider-up:hover, .home-slider-down:hover{
    background-color: var(--black);
}

.home-slider-up:hover img{
    content: url("/icons/up-white.png");
}

.home-slider-down:hover img{
    content: url("/icons/down-white.png");
}