.pointTable{
    display: flex;
    width: fit-content;
    max-width: calc(100% - 2px);
    overflow: scroll;
    border: 1px solid var(--black);
}

.pointTable-teams{
    display: flex;
    flex-direction: column;
}

.pointTable-heading{
    display: flex;
}

.pointTable-heading p{
    padding: 16px;
    text-transform: capitalize;
}

.pointTable-heading-position, 
.pointTable-team-position{
    width: 20px;
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.pointTable-team{
    display: flex;
}

.pointTable-team-position, 
.pointTable-team-name{
    padding: 16px;
    height: 20px;
    text-align: center;
}

.pointTable-team-name{
    padding-left: 0;
}

.pointTable-team:last-child .pointTable-team-position{
    border-bottom: none;
}

.pointTable-team-details{
    display: flex;
    gap: 8px;
    border-bottom: 1px solid var(--black);
    cursor: pointer;
}

.pointTable-team:last-child .pointTable-team-details{
    border-bottom: none;
}

.pointTable-team-logo{
    padding: 8px;
    padding-right: 0;
}

.pointTable-heading-name, 
.pointTable-team-name{
    width: 225px;
    text-align: left;
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.pointTable-team-name{
    border-bottom: none;
}

.pointTable-heading-name{
    width: 257px;
}

.pointTable-heading-name.short{
    width: 67px;
} 

.pointTable-team-name.short{
    width: 35px;
}

.pointTable-team-results-container{
    display: flex;
    flex-direction: column;
}

.pointTable-team-results{
    display: flex;
}

.pointTable-heading-result, 
.pointTable-team-result{
    display: flex;
    padding: 16px;
    justify-content: center;
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.pointTable-team-result{
    cursor: pointer;
}

.pointTable-team-result.no-match{
    cursor: auto;
}

.pointTable-heading-result{
    width: 20px;
}

.pointTable-team-results:last-child .pointTable-team-result{
    border-bottom: none;
}

.pointTable-team-result:first-child{
    border-left: none;
}

.pointTable-heading-result:first-child{
    border-left: none;
}

.pointTable-team-result{
    background-color: var(--white);
}

.pointTable-team-result:has(.win):hover{
    background-color: var(--green);
}

.pointTable-team-result:has(.win):hover img{
    content: url("/icons/check-white.png");
}

.pointTable-team-result:has(.tie):hover{
    background-color: var(--blue);
}

.pointTable-team-result:has(.tie):hover img{
    content: url("/icons/draw-white.png");
}

.pointTable-team-result:has(.loss):hover{
    background-color: var(--red);
}

.pointTable-team-result:has(.loss):hover img{
    content: url("/icons/cross-white.png");
}

.pointTable-team-point{
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
}

.pointTable-heading-points, 
.pointTable-team-points{
    width: 45px;
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.pointTable-team:last-child .pointTable-team-points{
    border-bottom: none;
}

.pointTable-heading-nrr, 
.pointTable-team-nrr{
    width: 55px;
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.pointTable-heading .pointTable-heading-nrr{
    text-transform: uppercase;
    text-align: center;
}

.pointTable-team:last-child .pointTable-team-nrr{
    border-bottom: none;
}

.pointTable-team-points, 
.pointTable-team-nrr{
    padding: 16px;
    height: 20px;
    text-align: center;
}

.pointTable-team-nrr{
    text-align: left;
}