.season-page{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    height: calc(100vh - 118px);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.season-add-form{
    display: flex;
    gap: 16px;
}

.season-add-input{
    padding: 16px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background-color: var(--bg-color);
}

.season-add-input::-webkit-inner-spin-button, 
.season-add-input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.seasons{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    justify-content: space-between;
    max-width: 100%;
    overflow: scroll;
}

.season{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 12px;
    border: 1px solid var(--text-color);
    cursor: pointer;
}

.season:hover .season-delete-button:hover{
    background-color: var(--red);
}

.season-logout{
    margin-top: auto;
}

@media(max-width: 1080px){
    .season{
        flex: 1 1 calc(33.33% - 12px);
    }
}

@media(max-width: 720px){
    .season{
        flex: 1 1 calc(50% - 8px);
    }
}

@media(max-width: 480px){
    .season{
        flex: 1 1 100%;
    }
}