.matchDetails{
    display: flex;
    width: 30%;
    flex-direction: column;
    gap: 16px;
    border: 1px solid var(--black);
}

.matchDetails-venue{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
}

.matchDetails-timings{
    display: flex;
    gap: 16px;
}

.matchDetails-result{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.matchDetails-team-scores{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.matchDetails-team, .matchDetails-opponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.matchDetails-scores{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.matchDetails-draw{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

.matchDetails-logo{
    width: 44px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

@media(max-width: 1200px){
    .matchDetails{
        width: 50%;
    }
}

@media(max-width: 720px){
    .matchDetails{
        width: 75%;
    }
}

@media(max-width: 564px){
    .matchDetails{
        width: 100%;
    }
}