.admin-results{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    min-height: calc(100vh - 118px);
    background-color: var(--bg-color);
    color: var(--text-color);
}