.home{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.home-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-details{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.home-buttons{
    display: flex;
    gap: 16px;
}

.home-table-switch-button{
    padding: 16px;
    font-size: 16px;
    border: 1px solid var(--black);
    outline: none;
    background-color: var(--white);
    cursor: pointer;
    text-transform: capitalize;
}

.home-table-switch-button:hover{
    background-color: var(--black);
    color: var(--white);
}

.home-add-team-button:hover img {
    content: url("/icons/plus-white.png");
}

.home-add-team-form{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 16px;
}

.home-input-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
    gap: 16px;
}

.home-input-wrapper input{
    width: 100%;
}

.home-input-wrapper:first-of-type{
    margin-top: 0;
}

.home-add-home-button:hover img{
    content: url("/icons/plus-white.png");
}

.home-remove-home-button:hover img{
    content: url("/icons/trash-white.png");
}

.home-form-buttons{
    display: flex;
    gap: 16px;
}

.home-close-button:hover img {
    content: url("/icons/cross-white.png");
}

@media(max-width: 1080px){
    .home-add-team-form{
        width: 40%;
    }
}

@media(max-width: 720px){
    .home-add-team-form{
        width: 50%;
    }
}

@media(max-width: 564px){
    .home-add-team-form{
        width: 100%;
    }

    .home-header{
        flex-direction: column;
        align-items: start;
        gap: 16px;
    }
}
