.admin-topbar{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--bg-color);
}

.admin-topbar-image{
    width: 50px;
    object-fit: contain;
    cursor: pointer;
}

.admin-topbar-items{
    display: flex;
    align-items: center;
    gap: 16px;
}

.admin-topbar-item{
    display: flex;
    align-items: center;
    gap: 16px;
    list-style-type: none;
    font-size: 16px;
    padding: 16px;
    text-transform: capitalize;
    cursor: pointer;
    border: 1px solid var(--text-color);
    color: var(--text-color);
}

.admin-topbar-item:hover{
    background-color: var(--green);
    color: var(--white);
}

.admin-topbar-item.active{
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
    color: var(--bg-color);
}

.admin-topbar-menu{
    display: none;
}

.admin-topbar-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid var(--text-color);
    padding: 16px;
}

.admin-topbar-icon:hover{
    background-color: var(--text-color);
}

.admin-topbar-menu-items{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    gap: 8px;
    top: 70px;
    padding: 16px;
    background-color: var(--bg-color);
}

.admin-topbar-menu-item{
    list-style: none;
    font-size: 16px;
    padding: 16px;
    text-transform: capitalize;
    cursor: pointer;
    border: 1px solid var(--text-color);
    color: var(--text-color);}

.admin-topbar-menu-item.active{
    background-color: var(--text-color);
    color: var(--bg-color);
}

.admin-topbar-menu-item:hover{
    background-color: var(--green);
    color: var(--white);
}

.admin-outlet{
    flex-grow: 1;
    overflow-y: auto;
}

@media(max-width: 720px){
    .admin-topbar-items{
        display: none;
    }

    .admin-topbar-menu{
        display: flex;
        align-items: center;
        padding: 0;
    }
}