.stats-form{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 16px;
}

.stats-expand{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    border: 1px solid var(--black);
}

.stats-buttons{
    display: flex;
    gap: 16px;
}

.stats-form-clear-button:hover img{
    content: url("/icons/cross-white.png");
}

.stats-add-button:hover img{
    content: url("/icons/plus-white.png");
}

@media(max-width: 1080px){
    .stats-form{
        width: 40%;
    }
}

@media(max-width: 720px){
    .stats-form{
        width: 50%;
    }
}

@media(max-width: 564px){
    .stats-form{
        width: 100%;
    }
}