.winLoseTable{
    display: flex;
    width: fit-content;
    max-width: calc(100% - 2px);
    overflow: scroll;
    border: 1px solid var(--black);
}

.winLoseTable-teams{
    display: flex;
    flex-direction: column;
}

.winLoseTable-heading{
    display: flex;
}


.winLoseTable-heading p{
    padding: 16px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
}

.winLoseTable-heading p:nth-child(2){
    justify-content: start;
}

.winLoseTable-heading p:nth-last-child(2){
    text-transform: uppercase;
}

.winLoseTable-heading-position, 
.winLoseTable-team-position{
    width: 20px;
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.winLoseTable-team{
    display: flex;
}

.winLoseTable-team-position, 
.winLoseTable-team-name{
    padding: 16px;
    text-align: center;
}

.winLoseTable-team-name{
    padding-left: 0;
}

.winLoseTable-team:last-child .winLoseTable-team-position{
    border-bottom: none;
}

.winLoseTable-team-details{
    display: flex;
    gap: 8px;
    border-bottom: 1px solid var(--black);
    cursor: pointer;
}

.winLoseTable-team:last-child .winLoseTable-team-details{
    border-bottom: none;
}

.winLoseTable-team-logo{
    padding: 8px;
    padding-right: 0;
}

.winLoseTable-heading-name, 
.winLoseTable-team-name{
    width: 225px;
    text-align: left;
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.winLoseTable-heading-name.short{
    width: 62px;
} 
.winLoseTable-team-name.short{
    width: 30px;
}

.winLoseTable-team-name{
    border-bottom: none;
}

.winLoseTable-heading-name{
    width: 257px;
}

.winLoseTable-heading-played, 
.winLoseTable-team-played{
    width: 45px;
    border-bottom: 1px solid var(--black);
}

.winLoseTable-team:last-child .winLoseTable-team-played{
    border-bottom: none;
}

.winLoseTable-heading-wins, 
.winLoseTable-team-wins{
    width: 45px;
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.winLoseTable-team:last-child .winLoseTable-team-wins{
    border-bottom: none;
}

.winLoseTable-heading-loses, 
.winLoseTable-team-loses{
    width: 45px;
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.winLoseTable-team:last-child .winLoseTable-team-loses{
    border-bottom: none;
}

.winLoseTable-heading-draws, 
.winLoseTable-team-draws{
    width: 45px;
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.winLoseTable-team:last-child .winLoseTable-team-draws{
    border-bottom: none;
}

.winLoseTable-heading-point, 
.winLoseTable-team-point{
    width: 45px;
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.winLoseTable-team:last-child .winLoseTable-team-point{
    border-bottom: none;
}

.winLoseTable-heading-nrr, 
.winLoseTable-team-nrr{
    width: 55px;
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.winLoseTable-team:last-child .winLoseTable-team-nrr{
    border-bottom: none;
}

.winLoseTable-team-played, 
.winLoseTable-team-wins,
.winLoseTable-team-loses,
.winLoseTable-team-draws, 
.winLoseTable-team-point,
.winLoseTable-team-nrr{
    padding: 16px;
    height: 20px;
    text-align: center;
}

.winLoseTable-team-nrr{
    text-align: left;
}